# Imputing missing values
https://www.kaggle.com/datasets/uciml/horse-colic

https://archive.ics.uci.edu/ml/datasets/Horse+Colic

The features from the dataset that we are planning not to use contain the missing values and the features that we will use does not contain missing values. Hence, we do not have the need to use imputation right now.

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('wildfires_clean.csv')
df.head()

,fire_size,fire_name,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,cont_clean_date,discovery_month,...,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness,cause_code,state_code,fire_size_class_code
0,10.0,NaN,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,NaN,2,...,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923,8,38,1
1,3.0,NaN,B,Arson,35.038330,-87.610000,TN,12/11/2006,NaN,12,...,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355,0,42,0
2,60.0,NaN,C,Arson,34.947800,-88.722500,MS,2/29/2004,NaN,2,...,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544,0,24,1
3,1.0,WNA 1,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,6/6/2005,6,...,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447,3,32,0
4,2.0,NaN,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,NaN,9,...,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633,7,17,0

When the data is read missing values of `?` can be replaced with `NaN`

In [3]:
# df = pd.read_csv('horse-colic.csv', header=None, na_values='?')
# df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [15]:
df.isna().sum()

fire_size                   0
fire_name               29454
fire_size_class             0
stat_cause_descr            0
latitude                    0
longitude                   0
state                       0
disc_clean_date             0
cont_clean_date         27890
discovery_month             0
disc_date_final         26659
cont_date_final         29735
putout_time             27890
disc_date_pre               0
disc_pre_year               0
disc_pre_month              0
wstation_usaf               0
dstation_m                  0
wstation_wban               0
wstation_byear              0
wstation_eyear              0
Vegetation                  0
fire_mag                    0
weather_file                0
Temp_pre_30                 0
Temp_pre_15                 0
Temp_pre_7                  0
Temp_cont                   0
Wind_pre_30                 0
Wind_pre_15                 0
Wind_pre_7                  0
Wind_cont                   0
Hum_pre_30                  0
Hum_pre_15                  0
Hum_pre_7                   0
Hum_cont                    0
Prec_pre_30                 0
Prec_pre_15                 0
Prec_pre_7                  0
Prec_cont                   0
remoteness                  0
cause_code                  0
state_code                  0
fire_size_class_code        0
dtype: int64

Determining the percentage of missing values

In [18]:
pd.concat([df.isna().sum(), df.isna().sum()/len(df)*100], axis=1).head(10)

                      0          1
fire_size             0   0.000000
fire_name         29454  53.197753
fire_size_class       0   0.000000
stat_cause_descr      0   0.000000
latitude              0   0.000000
longitude             0   0.000000
state                 0   0.000000
disc_clean_date       0   0.000000
cont_clean_date   27890  50.372966
discovery_month       0   0.000000

In [6]:
target = 23
features = list(df.columns)
features.remove(target)

In [7]:
X = df[features]
y = df[target]

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
imputer.fit(X)

SimpleImputer()

In [8]:
Ximputed = imputer.transform(X)

In [9]:
sum(np.isnan(Ximputed).flatten())

0

In [14]:
pd.DataFrame(Ximputed, index=X.index, columns=X.columns)#.isna().sum()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,24,25,26,27
0,2.0,1.0,530101.0,38.500000,66.0,28.0,3.000000,3.000000,2.853755,2.00000,...,5.000000,45.0,8.400000,2.037037,3.019608,2.0,11300.0,0.0,0.0,2.0
1,1.0,1.0,534817.0,39.200000,88.0,20.0,2.348361,2.017316,4.000000,1.00000,...,2.000000,50.0,85.000000,2.000000,2.000000,3.0,2208.0,0.0,0.0,2.0
2,2.0,1.0,530334.0,38.300000,40.0,24.0,1.000000,1.000000,3.000000,1.00000,...,1.000000,33.0,6.700000,2.037037,3.019608,1.0,0.0,0.0,0.0,1.0
3,1.0,9.0,5290409.0,39.100000,164.0,84.0,4.000000,1.000000,6.000000,2.00000,...,3.692308,48.0,7.200000,3.000000,5.300000,2.0,2208.0,0.0,0.0,1.0
4,2.0,1.0,530255.0,37.300000,104.0,35.0,2.348361,2.017316,6.000000,2.00000,...,3.692308,74.0,7.400000,2.037037,3.019608,2.0,4300.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1.0,533886.0,38.167917,120.0,70.0,4.000000,2.017316,4.000000,2.00000,...,5.000000,55.0,65.000000,2.037037,3.019608,3.0,3205.0,0.0,0.0,2.0
296,2.0,1.0,527702.0,37.200000,72.0,24.0,3.000000,2.000000,4.000000,2.00000,...,4.000000,44.0,24.456929,3.000000,3.300000,3.0,2208.0,0.0,0.0,1.0
297,1.0,1.0,529386.0,37.500000,72.0,30.0,4.000000,3.000000,4.000000,1.00000,...,5.000000,60.0,6.800000,2.037037,3.019608,2.0,3205.0,0.0,0.0,2.0
298,1.0,1.0,530612.0,36.500000,100.0,24.0,3.000000,3.000000,3.000000,1.00000,...,4.000000,50.0,6.000000,3.000000,3.400000,1.0,2208.0,0.0,0.0,1.0
299,1.0,1.0,534618.0,37.200000,40.0,20.0,2.348361,2.017316,2.853755,1.30597,...,1.000000,36.0,62.000000,1.000000,1.000000,3.0,6112.0,0.0,0.0,2.0

# What is wrong with the above?